.blur-container {
    position: relative;
    display: inline-block;
}
.blur-container::after {
    content: '';
    position: absolute;
    right: -0.625rem;
    bottom: 0.625rem;
    width: 100%;
    height: 100%;
    background: url('https://bulma.io/assets/images/placeholders/128x128.png') no-repeat center center;
    background-size: cover;
    filter: blur(340px);
    z-index: -1;
}

*{
    scroll-behavior: smooth;
}
.blur-container2{
    margin-top: -3.75rem;
    
}

.blur-container3{
    margin-top: -1.375rem;
    
}

.image4{
    margin-top: 7.5rem;
    margin-right: 8.75rem;
    position: relative;
    bottom: -5rem;
    width: 72%;
}

h1{
    margin-left: 11.125rem;
    font-size: 4.375rem;
    margin-top: -9rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.notification{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h2{
    margin-left: 15rem;
    font-size:1.563rem;
}

.box2{
    height: 6.25rem;
}

.button{
    text-decoration: none;
}

.button:hover{
    text-decoration: underline;
}

.vertical-line {
    border-left: 0.125rem solid #ccc;
    height: 9.375rem;
    position: absolute;
    left: 15rem;
}




@media screen and (min-width: 768px) {
    .vertical-line {
        left: 35rem;
    }
  }

  .outils .column {
    display: block;
    margin-bottom: 1rem;
}


@media screen and (max-width: 768px) {
    .outils .column {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
    }
}
.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.box3 {
    padding: 0.625rem; 
    border-radius: 0.5rem;
}
 
.content1{
    border-radius: 0.25;
}

.image5{
    width: 100%;
    height: 100%;
    margin-left: 50rem;
}


.link, .link1 {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image6{
    margin-left: 0.688rem;
    width: 37%;
}

